<!-- Describe task in general -->
<img src="{{MEDIA_CONVERT}}title.png" class="title_img" />

<div class="story">
	<p align="justify">
		...Саманта сиділа за письмовим столом, її очі сканували слова на сторінці перед нею. Вона читала один і той самий абзац знову і знову, але її розум не міг вловити сенс слів, що стояли за ними. Вона почала розчаровуватися, намагаючись зосередитися, але слова, здавалося, розпливалися в повітрі. Це було так, ніби думки автора були заховані в лабіринті, і вона намагалася знайти правильний шлях. Саманта зробила глибокий вдих і заплющила очі, намагаючись очистити свій розум. Нарешті, прорив. Думка, яку вона шукала, з'явилася з тексту, і вона продовжила читати з новою рішучістю. Іноді читання - це подорож, і пошук потрібної думки може бути найскладнішою частиною.
	</p>
</div>

<p align="justify">
    Вам дають рядок. Десь у ньому сховалося слово "CheckIO". Ваше завдання - знайти місце, де сховалося це слово, і зробити мінімальну кількість замін, щоб отримати його. Розглянемо приклад: у рядку <b>"xheckIO"</b> достатньо замінити лише один символ ("x" на "C"), щоб отримати шукане слово, з іншого боку, можна спробувати знайти його у більш складному рядку: <b>"CheckzzVSCheckIz"</b>, правильною відповіддю тут буде рядок <b>"CheckzzVSCheckIO"</b> (лише одна заміна змінила "z" на "O").
</p>

<ul>
    <li>Кожен рядок містить хоча б один з семи символів слова "CheckIO", і навколо нього достатньо символів, щоб отримати шукане слово.</li>
    <li>Якщо існує декілька способів виконати завдання, просто вставте слово на перше відповідне місце.</li>
</ul>

<!-- Explain input and output values -->
<p>
   <strong>Вхідні дані:</strong> Рядок {% if is_js %}, <span>(string)</span>{% else %} , <span>(str)</span>{% endif %}.
</p>

<p>
   <strong>Вихідні дані:</strong> A {% if is_js %}рядок <span>(string)</span>{% else %} рядок <span>(str)</span>{% endif %}. 
</p>


<!-- Put some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Приклади:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>
<!-- Here you can explain how it can be used in development. -->
<!-- The section is optional -->
<p class="for_info_only">
    <strong>Як використовується: </strong>
    <i>Покращує ваші навички аналізу рядків.</i>
</p>

<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<p>
    <strong>Умова:</strong>
    <i>Текст може містити тільки [a-z, A-Z], </i>
    <i>6 &lt; len(string) &lt; 100</i>
</p>
